@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  transition: all 0.3s ease-in-out;
  scroll-behavior: smooth;
}

.gray {
  color: gray;
}

button {
  cursor: pointer;
}

.fill {
  background-color: #F46A35;
}

.container {
  width: 100%;
  max-width: 1250px;
  margin: 0 auto;
}

.outline {
  background-color: white;
}

header {
  padding: 1.5rem 3rem;
  box-shadow: 0 0 15px 0 rgb(201, 199, 199);
}
header .navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .nav__group a {
  border-radius: 5px;
  padding: 0.5rem;
}
header .nav__group a:hover {
  background-color: black;
  color: white;
}
header .gamburger {
  display: none;
  position: relative;
}
header .media__group {
  position: absolute;
  box-shadow: 0 0 10px 0 gray;
  border-radius: 0.3rem;
  right: 0;
  background-color: white;
  width: 200px;
  display: none;
}
header .media__group_item {
  padding: 1rem;
}
header .media__group_item:hover {
  background-color: black;
}
header .media__group_item:hover a {
  color: white;
}
header .media__group_item:first-child {
  border-radius: 0.3rem 0.3rem 0 0;
}
header .media__group_item:last-child {
  border-radius: 0 0 0.3rem 0.3rem;
}

.showNav {
  display: block;
}

.fixed__nav {
  position: fixed;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.726);
  z-index: 999;
}

.navbar__nav,
.nav__group,
.helper__group {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.helper__group {
  gap: 2rem;
}
.helper__group button {
  background: #F46A35;
  border: 1px solid #F46A35;
  border-radius: 10px;
  width: 148px;
  height: 36px;
  font-size: 1.2rem;
  cursor: pointer;
}
.helper__group button a {
  color: white;
}

@media (min-width: 0px) and (max-width: 520px) {
  header .nav__group {
    display: none;
  }
  header .helper__group {
    display: none;
  }
  header .gamburger {
    display: block;
  }
  header .bi-list {
    font-size: 1.3rem;
  }
  header .showNav {
    display: block;
  }
}
@media (min-width: 520px) and (max-width: 768px) {
  header .nav__group {
    display: none;
  }
  header .gamburger {
    display: block;
  }
  header .showNav {
    display: block;
  }
  header .bi-list {
    font-size: 1.4rem;
  }
  header .helper__group {
    gap: 1rem;
  }
}
.home__section {
  width: 100%;
}
.home__section .home__content {
  display: flex;
  justify-content: space-between;
  padding: 3rem 0;
}
.home__section .home__image {
  width: 50%;
}
.home__section .home__image img {
  width: 100%;
  height: 100%;
}
.home__section .home__title {
  width: 40%;
}
.home__section .home__title h1 {
  font-size: 3rem;
  font-weight: 400;
  margin-bottom: 2rem;
}
.home__section .home__divider {
  width: 100%;
  height: 2px;
  background-color: rgb(184, 180, 180);
  margin: 3rem 0;
}
.home__section .divider__content p {
  margin: 1rem 0;
}
.home__section .divider__content a {
  color: #F46A35;
}
.home__section .home_btn {
  width: 150px;
  height: 42px;
  font-size: 1rem;
  border-radius: 0.3rem;
  cursor: pointer;
}
.home__section .home_btn.fill {
  border: 1px solid #F46A35;
}
.home__section .home_btn.fill a {
  color: white;
}
.home__section .home_btn.fill:hover {
  background-color: white;
}
.home__section .home_btn.fill:hover a {
  color: #F46A35;
}
.home__section .home_btn.outline {
  border: 1px solid black;
}
.home__section .home_btn.outline:hover {
  background-color: black;
}
.home__section .home_btn.outline:hover a {
  color: white;
}

@media (min-width: 0px) and (max-width: 520px) {
  .home__section .home__content {
    flex-direction: column-reverse;
    align-items: center;
  }
  .home__section .home__image {
    width: 90%;
  }
  .home__section .home__image img {
    width: 100%;
  }
  .home__section .home__title {
    width: 90%;
  }
  .home__section .home__title h1 {
    font-size: 2rem;
  }
}
@media (min-width: 520px) and (max-width: 768px) {
  .home__section .home__content {
    flex-direction: column-reverse;
    align-items: center;
  }
  .home__section .home__title {
    width: 90%;
  }
  .home__section .home__image {
    width: 90%;
  }
}
.swiper-slide {
  padding: 1rem 0;
  margin: 0 1rem;
  text-align: center;
}

.solution__section {
  padding: 5rem 0;
}
.solution__section .solution__title {
  text-align: center;
}
.solution__section .solution__title h1 {
  margin: 1rem 0;
  font-size: 2.5rem;
  font-weight: 400;
}
.solution__section .solution__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 2rem 0;
  text-align: center;
}
.solution__section .startup {
  background-image: url(../../Assets/startups.png);
}
.solution__section .startup button:hover {
  background-color: white;
  color: black;
  border: 1px solid white;
}
.solution__section .enterprise {
  background-image: url(../../Assets/enterprice.png);
  color: white;
}
.solution__section .enterprise button {
  color: white;
}
.solution__section .enterprise button:hover {
  background-color: white;
  color: black;
}
.solution__section .solution__card {
  background-repeat: no-repeat;
  background-size: cover;
  padding: 3rem 1rem 0 1rem;
  width: 45%;
}
.solution__section .solution__card h1 {
  font-size: 2rem;
  font-weight: 400;
}
.solution__section .solution__card p {
  margin: 1rem 0;
}
.solution__section .solution__btn {
  width: 150px;
  height: 42px;
  border-radius: 5px;
  border: 1px solid;
  background-color: transparent;
  cursor: pointer;
}
.solution__section .solution__btn.white a {
  color: white;
}
.solution__section .solution__btn.white:hover a {
  color: black;
}
.solution__section .solution__img img {
  width: 100%;
}

@media (min-width: 0px) and (max-width: 520px) {
  .solution__section .solution__content {
    flex-direction: column;
    gap: 3rem;
  }
  .solution__section .solution__card {
    width: 90%;
  }
}
.product__section {
  background-color: #F9F9F9;
  padding: 3rem 0;
}
.product__section .product__title {
  width: 52%;
  margin-bottom: 2rem;
}
.product__section .product__title h1 {
  font-weight: 400;
  font-size: 2.5rem;
}
.product__section .product__title p {
  margin: 1rem 0;
  line-height: 2;
}
.product__section .product__title .product__btn {
  width: 203px;
  height: 48px;
  font-size: 1rem;
  border: 1px solid black;
  background-color: white;
  border-radius: 10px;
}
.product__section .product__title .product__btn:hover {
  background-color: black;
  color: white;
}
.product__section .product__content {
  background-color: white;
  padding: 2rem 0;
  border-radius: 10px;
  box-shadow: 0 0 10px 0 gray;
}
.product__section .product__content_title h1 {
  font-size: 2.5rem;
  font-weight: 500;
}
.product__section .product__flex {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2.5rem;
  margin-top: 3rem;
}
.product__section .product__content_title {
  text-align: center;
}
.product__section .product__image {
  text-align: center;
}
.product__section .product__img {
  width: 100px;
  height: 100px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}
.product__section .product__services {
  width: 40%;
}
.product__section .product__services_item {
  width: 100%;
  padding: 1rem;
  margin-bottom: 1rem;
  box-shadow: 0 0 5px 0 rgb(190, 188, 188);
  border-radius: 10px;
  cursor: pointer;
}
.product__section .product__services_item i {
  margin-right: 0.5rem;
}
.product__section .product__services_item:hover {
  box-shadow: 0 0 10px 0 rgb(167, 164, 164);
}

@media (min-width: 0px) and (max-width: 520px) {
  .product__section .product__title {
    width: 90%;
    margin: 0rem auto 3rem auto;
  }
  .product__section .product__flex {
    flex-direction: column;
  }
  .product__section .product__services {
    width: 90%;
  }
}
.navigation__carousel_section {
  padding: 4rem 0;
}
.navigation__carousel_section .navigation__content .swiper__card {
  margin: 0;
  cursor: grab;
}
.navigation__carousel_section .navigation__content .swiper__card_header {
  margin-bottom: 2rem;
}
.navigation__carousel_section .navigation__content .swiper__card_body {
  width: 40%;
  margin: 0 auto 2rem auto;
}
.navigation__carousel_section .navigation__content .swiper-button-prev::after, .navigation__carousel_section .navigation__content .swiper-button-next::after {
  font-size: 1rem !important;
  background-color: rgb(189, 189, 189);
  width: 100px;
  text-align: center;
  padding: 0 0.5rem;
  color: black;
}

@media (min-width: 0) and (max-width: 520px) {
  .navigation__carousel_section .navigation__content .swiper__card_body {
    width: 70%;
  }
}
.customers__section {
  padding: 3rem 0;
}
.customers__section .customers__title {
  text-align: center;
  width: 50%;
  margin: 0 auto 2rem auto;
}
.customers__section .customers__title h1 {
  font-size: 2.5rem;
  font-weight: 400;
}
.customers__section .customers__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.customers__section .customers__content .customer__card {
  width: 25%;
  padding: 0 0 1rem 0;
  cursor: pointer;
}
.customers__section .customers__content .customer__card:hover {
  box-shadow: 0 0 10px 0 gray;
}
.customers__section .customers__content .customer__card p {
  margin: 1rem 0;
  padding: 0 0.5rem;
}
.customers__section .customers__content .customer__card_header {
  width: 100%;
}
.customers__section .customers__content .customer__card_header img {
  width: 100%;
}
.customers__section .customers__content .customer__link {
  display: flex;
  align-items: center;
  gap: 1rem;
  color: #F46A35;
  padding: 0 0.5rem;
}
.customers__section .customers__footer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 4rem 0 1rem 0;
}
.customers__section .customers__photo {
  width: 350px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid gray;
}

@media (min-width: 0px) and (max-width: 520px) {
  .customers__section .customers__content {
    flex-direction: column;
  }
  .customers__section .customers__content .customer__card {
    width: 90%;
  }
  .customers__section .customers__footer {
    flex-direction: column;
  }
  .customers__section .customers__photo {
    width: 90%;
  }
}
@media (min-width: 520px) and (max-width: 768px) {
  .customers__section .customers__content {
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
  }
  .customers__section .customers__content .customer__card {
    width: 45%;
  }
  .customers__section .customers__footer {
    flex-wrap: wrap;
  }
  .customers__section .customers__photo {
    width: 50%;
  }
}
.resources__section {
  padding: 4rem 0;
  background-color: rgb(216, 212, 207);
}
.resources__section .resources__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.resources__section .resources__title {
  width: 40%;
}
.resources__section .resources__title h1 {
  font-size: 3rem;
  font-weight: 400;
}
.resources__section .resources__title p {
  width: 65%;
  font-size: 1rem;
  margin: 1rem 0;
}
.resources__section .resources__image {
  width: 40%;
}
.resources__section .resources__image img {
  width: 100%;
}
.resources__section .resources__btns {
  margin: 1rem 0;
}
.resources__section .resources__btn {
  width: 160px;
  height: 48px;
  border: 1px solid #212121;
  border-radius: 10px;
  font-size: 1rem;
}
.resources__section .resources__btn.fill {
  border: 1px solid #F46A35;
}
.resources__section .resources__btn.fill a {
  color: white;
}
.resources__section .resources__btn.fill:hover {
  background: white;
}
.resources__section .resources__btn.fill:hover a {
  color: #F46A35;
}
.resources__section .resources__btn.outline:hover {
  background-color: black;
}
.resources__section .resources__btn.outline:hover a {
  color: white;
}

@media (min-width: 0px) and (max-width: 520px) {
  .resources__section .resources__content {
    flex-direction: column;
  }
  .resources__section .resources__title {
    width: 90%;
  }
  .resources__section .resources__title p {
    width: 100%;
  }
  .resources__section .resources__image {
    width: 90%;
  }
  .resources__section .resources__btn {
    margin-bottom: 1rem;
  }
}
@media (min-width: 520px) and (max-width: 768px) {
  .resources__section .resources__image {
    width: 60%;
  }
  .resources__section .resources__title {
    padding: 0 0 0 1rem;
  }
  .resources__section .resources__title h1 {
    font-size: 2rem;
  }
  .resources__section .resources__title p {
    width: 100%;
  }
}
.footer__section {
  background-color: #171717;
  padding: 3rem 0 2rem 0;
}
.footer__section .footer__content {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}
.footer__section .footer__item.bold {
  color: white;
}
.footer__section .footer__text .white {
  color: white;
  margin-top: 1rem;
}
.footer__section .footer__group {
  width: 25%;
}

@media (min-width: 0px) and (max-width: 768px) {
  .footer__section .footer__content {
    flex-wrap: wrap;
    padding: 0 1rem;
    gap: 1rem;
  }
  .footer__section .footer__text {
    padding: 0 1rem;
  }
  .footer__section .footer__group {
    width: 50%;
    margin-bottom: 1rem;
  }
}
.form__section {
  padding: 3rem 0;
}
.form__section .form__title {
  text-align: center;
  margin-bottom: 1rem;
}
.form__section .form {
  width: 400px;
  height: 420px;
  box-shadow: 0 0 10px 0 rgb(227, 220, 220);
  border-radius: 10px;
  margin: 0 auto;
  padding: 0.5rem;
}
.form__section .form.signForm {
  height: 340px;
}
.form__section .timeout_block {
  text-align: center;
  margin-bottom: 1rem;
}
.form__section .success_title {
  color: green;
}
.form__section .fail_title {
  color: red;
}
.form__section .mb-3 {
  display: flex;
  flex-direction: column;
  margin: 2rem 0;
  gap: 0.5rem;
}
.form__section .input {
  padding: 0.7rem 0.5rem;
  outline: none;
  border-radius: 5px;
  border: none;
  box-shadow: 0 0 5px 0 rgb(219, 215, 215);
}
.form__section .form__btn {
  width: 100%;
  height: 42px;
  font-size: 1rem;
  background-color: green;
  box-shadow: 0 0 5px 0 rgb(219, 215, 215);
  border: none;
  border-radius: 10px;
  color: white;
}

@media (min-width: 0px) and (max-width: 520px) {
  .form__section .form {
    width: 90%;
  }
}
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}/*# sourceMappingURL=style.css.map */